<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PYTableViewIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F3588611C3B92AD006B62C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F35887A1C3B92AD006B62C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F3588851C3B92AD006B62C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
